{% extends "base.html" %}

{%block title%}
<title>Congrats</title>
{%endblock%}

{%block body%}

<body style="background-color: #607D8B;">



 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">ToolBox<span class="glyphicon glyphicon-wrench"></span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            
            
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#download">Start Learning</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#contact">Contact Us</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" href="#account">Profile</a>
              </li>             
              <li class="nav-item">
                <a class="nav-link active" href="#account">Sign Out</a>
              </li>
            </ul>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>





<br>
<br>
<br>
<br>
<br>
<h1 style="text-align:center;">Great Job! Keep it up!</h1>

<center><img  width="320" height="345" src="/static/check.png"></center>
<br>
<div class="container" align="center">
  <a href = "{{ url_for('profile') }}" class="btn btn-primary">Profile</a>
  <a href = "{{ url_for('trigolevels') }}" class="btn btn-primary">Levels menu</a>
</div>

</body>

{%endblock%}
