{% extends "base.html" %}

{%block title%}
<title>Subjects</title>
{%endblock%}

{%block body%}

<body style="background-color: #607D8B;">


 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">ToolBox<span class="glyphicon glyphicon-wrench"></span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            
            
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#download">Start Learning</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#account">Profile</a>
              </li>   
              <li class="nav-item">
                <a class="nav-link active" href="#account">Sign Out</a>
              </li>          
            </ul>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<br><br><br><br><br>

<div class="container" align="center">
    <img  width="1150" height="932" src="/static/1.png">
   <br><br>
    <img  width="1150" height="932" src="/static/2.png">
   <br><br>
    <img  width="1150" height="932" src="/static/3.png">

</div>
<br><br>

<div class="container">
  <a href = "{{ url_for('questone') }}" class="btn btn-primary" style="margin-left: 900px">Start Now!</a>
</div>

<br><br><br>

</body>

{%endblock%}