<!DOCTYPE html>
<html>
<head>
	<title>Explaination</title>
</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<body>

 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">ToolBox<span class="glyphicon glyphicon-wrench"></span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            
            
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#download">Start Learning</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#account">SignOut</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#account">Profile</a>
              </li>             
            </ul>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<br><br><br><br><br>

<div class="container">
<h1>LESSON (1):</h1>

<h2>What is trigonometry?</h2>

<h3> Trigonometry is a branch of mathematics that studies relationships involving lengths and angles of triangles.</h3>

<h4>Angle:</h4>

<h5> The space (usually measured in degrees) between two intersecting lines or surfaces at or close to the point where they meet.</h5>

<h4>Triangle identities:</h4>
 
<h5>There are 3 angles in a triangle (tip: tri-angle, tri = 3). The sum of the angles in a triangle is 180 degrees.</h5>

<h5>There are types of triangles:</h5>

<h5>1. By angles:</h5>

<p>Obtuse triangle: one of the angles is over 90 degrees (only one angle is greater than 90 degrees, and the side that is opposite to the 90 degrees is called a Hypotenuse).
Acute triangle: all three angles are less than 90 degrees.
Right triangle: one of the angles is 90 degrees (if this is the case, there can only be one right angle (90)), 
TIP: the side that is opposite to the 90 degrees is called a hypotenuse.</p>

<h5>2. By side lengths:</h5>

<p>Equilateral triangle: All the sides have equal lengths and all the angles are 60 degrees</p>

<p>b. Isosceles triangle: Two sides are of equal lengths and two of the angles are equal. <br>
c. Scalene triangle : all sides are of different lengths, and all angles are different. </p>




</div>










</body>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>