{% extends "base.html" %}

{%block title%}
<title>Main Page</title>
{%endblock%}

{%block body%}

<body id="page-top" style="position: relative; " data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">ToolBox<span class="glyphicon glyphicon-wrench"></span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            
            
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#download">Start Learning</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#account">Account</a>
              </li>
             
            </ul>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">ToolBox<span class="glyphicon glyphicon-wrench"></span></h1>
                        <p class="intro-text">An Educational Revolution!</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About ToolBox</h2>
                <p>Toolbox is an interactive platform for the learning of academic subjects. Our vision is to mitigate the level of education in the world and the middle east specifically through intuitive learning. We aim to help those who lack quality education by offering such a free of charge platform, we recognize that the lack of knowledge worldwide is an epideic deficiency, and see our solution to it as a viable method of solving this problem.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div>
                    <h2>Start Learning</h2>
                    <div class="container">
	                    <!--<div class="row">
	                    	<div class="col-lg-12" style="width: 400px; ">
			                    <p>Sign Up And Join Us Now:</p>
			                    <form role="form">
			                    <div class="form-group">
			                    	<label for="name">Name:</label>
			                    	<input type="text" class="form-control" id="name">
			                    </div>
			                    <div class="form-group">
			                    	<label for="email">Email address:</label>
			                    	<input type="email" class="form-control" id="email">
			                    </div>
			                    <div class="form-group">
			                    	<label for="pwd">Password:</label>
			                    	<input type="password" class="form-control" id="pwd">
			                    </div>
			                    <div class="form-group">
			                    	<label for="pwd">Check-Password:</label>
			                    	<input type="password" class="form-control" id="pwd">
		                    	</div>
		                    <a href="#" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-log-in"></span>Go!</a>
		                    </form>
		          			</div>  
		                    <div class="col-lg-2" style="width: 400px; margin-left: 100px; ">
			                    <p>Sign In:</p>
			                    <div class="form-group">
			                    <label for="email">Email address:</label>
			                    <input type="email" class="form-control" id="email">
			                    </div>
			                    <div class="form-group">
			                    <label for="pwd">Password:</label>
			                    <input type="password" class="form-control" id="pwd">
			                    </div>
			                    <a href="#" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-log-in"></span> Go!</a>
			                    </form><br><br>
		                    </div>
	          			</div>        
          			</div>-->
                        <div class="row">
                            <div class="col-lg-12" style="width: 400px; ">
                                <p>Sign Up And Join Us Now:</p>
                                <form role="form">
	                                <div class="form-group">
	                                    <label for="name">Name:</label>
	                                    <input type="text" class="form-control" id="name">
	                                </div>
	                                <div class="form-group">
	                                    <label for="email">Email address:</label>
	                                    <input type="email" class="form-control" id="email">
	                                </div>
	                                <div class="form-group">
	                                    <label for="pwd">Password:</label>
	                                    <input type="password" class="form-control" id="pwd">
	                                </div>
	                                <div class="form-group">
	                                    <label for="pwd">Check-Password:</label>
	                                    <input type="password" class="form-control" id="pwd">
	                                </div>
	                            		<a href="#" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-log-in"></span>Go!</a>
                            	</form>
                            </div>  
                            <div class="col-lg-2" style="width: 400px; margin-left: 100px; ">
                                <p>Sign In:</p>
                                <form>
	                                <div class="form-group">
	                                	<label for="email">Email address:</label>
	                                	<input type="email" class="form-control" id="email">
	                                </div>
	                                <div class="form-group">
	                                	<label for="pwd">Password:</label>
	                                	<input type="password" class="form-control" id="pwd">
	                                </div>
	                                	<a href="#" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-log-in"></span> Go!</a>
	                                </div>
                                </form><br><br>
                            </div>
                        </div>        
                    </div>
                    <!--
                    <input type="text" name="username" value="username"><br>
                    <input type="email" name="email" value="email"><br>
                    <input type="password" name="password" value="password"><br>
                    <input type="submit" name="submit" value="submit">-->
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact ToolBox</h2>
                <p>Feel free to email us to provide some feedback, give us suggestions, or to just say hello!</p>
                <p><a href="mailto:feedback@startbootstrap.com">feedback@ToolBox.com</a>
                </p>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>


</body>
{%endblock%}

