{% extends "base.html" %}

{%block title%}
<title>Profile</title>
{%endblock%}

{%block body%}

<body style="background-color: #607D8B;">

  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">ToolBox<span class="glyphicon glyphicon-wrench"></span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            
            
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#download">Start Learning</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#account">Sign Out</a>
              </li>
             
            </ul>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


<br><br><br><br><br><br>



<div class="container" style="margin-left: 300px;">
  <div class="row">
    <div class="col-md-4">
      <div class="imgAbt">
        <img  style="height: 345px; width: 80%;" src="/static/guy.jpg">
      </div>
    </div>
    <div class="col-md-8">
      <h5>Name:</h5><p>Guy</p>
      <h5>Date Of Creating The Account:</h5><p>30/07/2016</p>
      <h5>Status:</h5><p>Beginner</p>
    </div>
  </div>
</div>
<br>
<div class="container">
  <h5>Trigonometry: 15%</h5>
</div>
<div>
  <div class="container" align="center">
    <progress class="progress progress-striped progress-success" value="15" max="100">
      <p>15%</p>
    </progress>
  </div>
</div>
<br>
</body>


{%endblock%}