<!DOCTYPE html>
<html>
<head>
	<title>Quest Frame One</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" type="text/css" href="style.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<form role="form">
			<p>How many angles does a triangle have, and what is their sum?</p>
			<div class="form-group">
				<input type="radio" name="answer" value="a">	3 angles; 270 degrees.
			</div>
			<div class="form-group">
	  			<input type="radio" name="answer" value="b">	4 angles; 180 degrees.
	  		</div>
	  		<div class="form-group">
  				<input type="radio" name="answer" value="c">	3 angles; 180 degrees.
  			</div>
  			<div class="form-group">
  				<input type="radio" name="answer" value="d">	3 angles; 360 degrees.
  			</div>
  			<div class="form-group">
  				<input type="submit" name="submit" value="Next">
  			</div>
		</form>		
	</div>

</body>
</html>