{% extends "base.html" %}

{%block title%}
<title>trig_1_1_quest</title>
{%endblock%}

{%block body%}

<body style="background-color: #607D8B;">


 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">ToolBox<span class="glyphicon glyphicon-wrench"></span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            
            
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#download">Start Learning</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#contact">Contact Us</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" href="#account">Profile</a>
              </li>             
              <li class="nav-item">
                <a class="nav-link active" href="#account">Sign Out</a>
              </li>
            </ul>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


<br><br><br><br><br><br><br><br>
	<div class="container" align="center">
		<form role="form">
			<h5>How many angles does a triangle have, and what is their sum?</h5>
			<br><br>
			<div class="form-group">
				<input type="radio" name="answer" value="a">	3 angles; 270 degrees.
			</div>
			<div class="form-group">
	  			<input type="radio" name="answer" value="b">	4 angles; 180 degrees.
	  		</div>
	  		<div class="form-group">
  				<input type="radio" name="answer" value="c">	3 angles; 180 degrees.
  			</div>
  			<div class="form-group">
  				<input type="radio" name="answer" value="d">	3 angles; 360 degrees.
  			</div>
  			<br>
  			<div class="form-group">
			<a href = "{{ url_for('congrats') }}" class="btn btn-primary">Submit</a>
  			</div>
		</form>		
	</div>

</body>

{%endblock%}