<!DOCTYPE html>
<html>
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('show_all') }}">Check</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3> Users </h3>
      
      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>Email</th>
               <th>Password</th>
            </tr>
         </thead>
         
         <tbody>
            {% for user in users %}
               <tr>
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.password }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>