{% extends "base.html" %}
{%block title%}
<title>Subjects Page</title>
{%endblock%}
{%block body%}
<body>

  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand page-scroll" href="#page-top">
                  <i class="fa fa-play-circle"></i> <span class="light">ToolBox<span class="glyphicon glyphicon-wrench"></span>
              </a>
          </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            
            
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#about">About Us</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="#download">Start Learning</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#account">Account</a>
            </li>
             
          </ul>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
  </nav>

	<div class="card" style="width: 230px; height: 290px; float: right; margin-top: 20px; margin-right: 25px;">
  		<img class="card-img-top" style="width: 230px; height: 100px; " src="http://snagfilms-a.akamaihd.net/de/b4/e940c9f74ffa88f06d498b662339/1005-lec12-1536x865.jpg" alt="Card image cap">
  		<div class="card-block">
    		<h5 class="card-title" style="color: black;">Trigonometry</h5>
    		<p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
    		<a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
  		</div>
	</div>
	<div class="card" style="width: 230px; height: 290px; float: right; margin-top: 20px; margin-right: 25px;">
  		<img class="card-img-top" style="width: 230px; height: 100px; " src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Circle-trig6.svg/1280px-Circle-trig6.svg.png" alt="Card image cap">
  		<div class="card-block">
    		<h5 class="card-title" style="color: black;">Unit Circle</h5>
    		<p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
    		<a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
  		</div>
	</div>
	<div class="card" style="width: 230px; height: 290px; float: right; margin-top: 20px; margin-right: 25px;">
  		<img class="card-img-top" style="width: 230px; height: 100px; " src="https://i.ytimg.com/vi/0lRK2TUH-qI/maxresdefault.jpg" alt="Card image cap">
  		<div class="card-block">
    		<h5 class="card-title" style="color: black;">Inductions</h5>
    		<p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
    		<a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
  		</div>
	</div>
	<div class="card" style="width: 230px; height: 290px; float: right; margin-top: 20px; margin-right: 25px;">
  		<img class="card-img-top" style="width: 230px; height: 100px; " src="https://www.mathsisfun.com/data/images/probability-line.gif" alt="Card image cap">
  		<div class="card-block">
    		<h5 class="card-title" style="color: black;">Probability</h5>
    		<p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
    		<a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
  		</div>
	</div>
	<div class="card" style="width: 230px; height: 290px; float: right; margin-top: 20px; margin-right: 25px;">
  		<img class="card-img-top" style="width: 230px; height: 100px; " src="http://www.hyper-ad.com/tutoring/math/calculus/images/const_riemann_int_628.gif" alt="Card image cap">
  		<div class="card-block">
    		<h5 class="card-title" style="color: black;">Integrals</h5>
    		<p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
    		<a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
  		</div>
	</div>
	<div class="card" style="width: 230px; height: 209px; float: right; margin-top: 10px; margin-right: 25px;">
  		<img class="card-img-top" style="width: 230px; height: 100px; " src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Linear_regression.svg/300px-Linear_regression.svg.png" alt="Card image cap">
  		<div class="card-block">
    		<h5 class="card-title" style="color: black;">Statistics</h5>
    		<p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
    		<a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
  		</div>
	</div>
	<div class="card" style="width: 230px; height: 290px; float: right; margin-top: 10px; margin-right: 25px;">
  		<img class="card-img-top" style="width: 230px; height: 100px; " src="http://mathinsight.org/media/image/image/vector_2d_coordinates.png" alt="Card image cap">
  		<div class="card-block">
    		<h5 class="card-title" style="color: black;">Vectors</h5>
    		<p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
    		<a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
  		</div>
	</div>
	<div class="card" style="width: 230px; height: 290px; float: right; margin-top: 10px; margin-right: 25px;">
  		<img class="card-img-top" style="width: 230px; height: 100px; " src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Algebraic_equation_notation.svg/2000px-Algebraic_equation_notation.svg.png" alt="Card image cap">
  		<div class="card-block">
    		<h5 class="card-title" style="color: black;">Algebra</h5>
    		<p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
    		<a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
  		</div>
	</div>
	<div class="card" style="width: 230px; height: 290px; float: right; margin-top: 10px; margin-right: 25px;">
  		<img class="card-img-top" style="width: 230px; height: 100px; " src="http://tutorial.math.lamar.edu/Classes/DE/Exact_files/eq0033P.gif" alt="Card image cap">
  		<div class="card-block">
    		<h5 class="card-title" style="color: black;">Differentials</h5>
    		<p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
    		<a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
  		</div>
	</div>
	<div class="card" style="width: 230px; height: 290px; float: right; margin-top: 10px; margin-right: 25px;">
  		<img class="card-img-top" style="width: 230px; height: 100px; " src="http://tutorial.math.lamar.edu/Classes/Alg/SolveLogEqns_files/eq0038P.gif" alt="Card image cap">
  		<div class="card-block">
    		<h5 class="card-title" style="color: black;">Logarithms</h5>
    		<p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
    		<a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
  		</div>
	</div>

</body>
{%endblock%}