<!DOCTYPE html>
<html>
<head>
	<title>Subjects Page</title>
</head>
<body>

	<div class="card">
  		<img class="card-img-top" data-src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Circle-trig6.svg/1280px-Circle-trig6.svg.png" alt="Card image cap">
  		<div class="card-block">
    		<h4 class="card-title">Card title</h4>
    		<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    		<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  		</div>
	</div>

</body>
</html>