<!DOCTYPE html>
<html>
<head>
  <title>Subjects Page</title>
</head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="style.css"></link>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS 
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->

   <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="/static/http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="/static/css/grayscale.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<body style="background-color: #e6f2ff;">

<body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand page-scroll" href="#page-top">
                  <i class="fa fa-play-circle"></i> <span class="light">ToolBox<span class="glyphicon glyphicon-wrench"></span>
              </a>
          </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            
            
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#about">About Us</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="#download">Start Learning</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#account">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#singout">Sign Out</a>
            </li>
             
          </ul>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
  </nav>

  <div class="card" style="width: 230px; height: 280px; float: right; margin-top: 75px; margin-right: 25px;">
      <img class="card-img-top" style="width: 230px; height: 100px; " src="http://snagfilms-a.akamaihd.net/de/b4/e940c9f74ffa88f06d498b662339/1005-lec12-1536x865.jpg" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title" style="color: black;">Trigonometry</h5>
        <p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
        <a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
      </div>
  </div>
  <div class="card" style="width: 230px; height: 280px; float: right; margin-top: 75px; margin-right: 25px;">
      <img class="card-img-top" style="width: 230px; height: 100px; " src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Circle-trig6.svg/1280px-Circle-trig6.svg.png" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title" style="color: black;">Unit Circle</h5>
        <p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
        <a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
      </div>
  </div>
  <div class="card" style="width: 230px; height: 280px; float: right; margin-top: 75px; margin-right: 25px;">
      <img class="card-img-top" style="width: 230px; height: 100px; " src="https://i.ytimg.com/vi/0lRK2TUH-qI/maxresdefault.jpg" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title" style="color: black;">Inductions</h5>
        <p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
        <a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
      </div>
  </div>
  <div class="card" style="width: 230px; height: 280px; float: right; margin-top: 75px; margin-right: 25px;">
      <img class="card-img-top" style="width: 230px; height: 100px; " src="https://www.mathsisfun.com/data/images/probability-line.gif" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title" style="color: black;">Probability</h5>
        <p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
        <a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
      </div>
  </div>
  <div class="card" style="width: 230px; height: 280px; float: right; margin-top: 75px; margin-right: 25px;">
      <img class="card-img-top" style="width: 230px; height: 100px; " src="http://www.hyper-ad.com/tutoring/math/calculus/images/const_riemann_int_628.gif" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title" style="color: black;">Integrals</h5>
        <p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
        <a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
      </div>
  </div>
  <div class="card" style="width: 230px; height: 280px; float: right; margin-top: 10px; margin-right: 25px;">
      <img class="card-img-top" style="width: 230px; height: 100px; " src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Linear_regression.svg/300px-Linear_regression.svg.png" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title" style="color: black;">Statistics</h5>
        <p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
        <a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
      </div>
  </div>
  <div class="card" style="width: 230px; height: 280px; float: right; margin-top: 10px; margin-right: 25px;">
      <img class="card-img-top" style="width: 230px; height: 100px; " src="http://mathinsight.org/media/image/image/vector_2d_coordinates.png" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title" style="color: black;">Vectors</h5>
        <p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
        <a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
      </div>
  </div>
  <div class="card" style="width: 230px; height: 280px; float: right; margin-top: 10px; margin-right: 25px;">
      <img class="card-img-top" style="width: 230px; height: 100px; " src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Algebraic_equation_notation.svg/2000px-Algebraic_equation_notation.svg.png" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title" style="color: black;">Algebra</h5>
        <p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
        <a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
      </div>
  </div>
  <div class="card" style="width: 230px; height: 280px; float: right; margin-top: 10px; margin-right: 25px;">
      <img class="card-img-top" style="width: 230px; height: 100px; " src="http://tutorial.math.lamar.edu/Classes/DE/Exact_files/eq0033P.gif" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title" style="color: black;">Differentials</h5>
        <p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
        <a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
      </div>
  </div>
  <div class="card" style="width: 230px; height: 280px; float: right; margin-top: 10px; margin-right: 25px;">
      <img class="card-img-top" style="width: 230px; height: 100px; " src="http://tutorial.math.lamar.edu/Classes/Alg/SolveLogEqns_files/eq0038P.gif" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title" style="color: black;">Logarithms</h5>
        <p class="card-text" style="color: black; font-size:60%;">What is trigonometry:  trig is a branch of mathematics that studies relationships involving lengths and angles of triangles.</p>
        <a href="#" class="btn btn-primary" style="align: bottom;">Play</a>
      </div>
  </div>
</body>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


   <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>


      <!-- jQuery -->
<!--    <script src="/static/vendor/jquery/jquery.js"></script>
-->
    <!-- Bootstrap Core JavaScript -->
<!--    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
-->
    <!-- Plugin JavaScript -->
   <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->
    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ //////////////
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
-->
    <!-- Theme JavaScript -->
    <script src="js/grayscale.min.js"></script>


</html>