{% extends "base.html" %}

{%block title%}
<title>Levels</title>
{%endblock%}

{%block body%}

<body style="background-color: #607D8B;">

  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">ToolBox<span class="glyphicon glyphicon-wrench"></span>
                </a>
            </div>

           <!-- Collect the nav links, forms, and other content for toggling -->
            
            
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#startlearn">Start Learning</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('profile') }}">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#sign-out">Sign Out</a>
              </li>
             
            </ul>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

  <div class="card" style="width: 195px; height: 275px; float: left; margin-top: 85px; margin-left: 55px;">
      <img class="card-img-top" style="width: 195px; position: left 2px; " src="/static/levels.jpeg" alt="Card ilmage cap">
      <div class="card-block">
        <h5 style="color: black; ">Level 1</h5>
        <a href = "{{ url_for('explaination') }}" class="btn btn-primary" style="align: bottom; margin-left: -10px; margin-bottom: -0px;">Learn</a>
        <a href="#" class="btn btn-primary" style="align: bottom; float: right; margin-right: -10px; margin-bottom: -0px;">Play</a>

      </div>
  </div>
  <div class="card" style="width: 195px; height: 275px; float: left; margin-top: 220px; margin-left: 55px;">
      <img class="card-img-top" style="width: 195px; position: left 2px; " src="/static/levels.jpeg" alt="Card image cap">
      <div class="card-block">
        <h5 style="color: black; ">Level 2</h5>
        <a href="#" class="btn btn-primary" style="align: bottom; margin-left: -10px; margin-bottom: -0px;">Learn</a>
        <a href="#" class="btn btn-primary" style="align: bottom; float: right; margin-right: -10px; margin-bottom: -0px;">Play</a>


      </div>
  </div>
  <div class="card" style="width: 195px; height: 275px; float: left; margin-top: 85px; margin-left: 55px;">
      <img class="card-img-top" style="width: 195px; position: left 2px; " src="/static/levels.jpeg" alt="Card image cap">
      <div class="card-block">
        <h5 style="color: black; ">Level 3</h5>
        <a href="#" class="btn btn-primary" style="align: bottom; margin-left: -10px; margin-bottom: -0px;">Learn</a>
        <a href="#" class="btn btn-primary" style="align: bottom; float: right; margin-right: -10px; margin-bottom: -0px;">Play</a>


      </div>
  </div>
  <div class="card" style="width: 195px; height: 275px; float: left; margin-top: 220px; margin-left: 55px;">
      <img class="card-img-top" style="width: 195px; position: left 2px; " src="/static/levels.jpeg" alt="Card image cap">
      <div class="card-block">
        <h5 style="color: black; ">Level 4</h5>
        <a href="#" class="btn btn-primary" style="align: bottom; margin-left: -10px; margin-bottom: -0px;">Learn</a>
        <a href="#" class="btn btn-primary" style="align: bottom; float: right; margin-right: -10px; margin-bottom: -0px;">Play</a>


      </div>
  </div>
  <div class="card" style="width: 195px; height: 275px; float: left; margin-top: 85px; margin-left: 55px;">
      <img class="card-img-top" style="width: 195px; position: left 2px; " src="/static/levels.jpeg" alt="Card image cap">
      <div class="card-block">
        <h5 style="color: black; ">Level 5</h5>
        <a href="#" class="btn btn-primary" style="align: bottom; margin-left: -10px; margin-bottom: -0px;">Learn</a>
        <a href="#" class="btn btn-primary" style="align: bottom; float: right; margin-right: -10px; margin-bottom: -0px;">Play</a>


      </div>
  </div>
  <div class="card" style="width: 195px; height: 275px; float: left; margin-top: 85px; margin-left: 55px; margin-bottom: 40px; ">
      <img class="card-img-top" style="width: 195px; position: left 2px; " src="/static/thetop.jpeg" alt="Card image cap">
      <div class="card-block">
        <h5 style="color: black; ">Level 8</h5>
        <a href="#" class="btn btn-primary" style="align: bottom; margin-left: -10px; margin-bottom: -0px;">Learn</a>
        <a href="#" class="btn btn-primary" style="align: bottom; float: right; margin-right: -10px; margin-bottom: -0px;">Play</a>


      </div>
  </div>
  <div class="card" style="width: 195px; height: 275px; float: left; margin-top: -320px; margin-left: 55px;">
      <img class="card-img-top" style="width: 195px; position: left 2px; " src="/static/levels.jpeg" alt="Card image cap">
      <div class="card-block">
        <h5 style="color: black; ">Level 6</h5>
        <a href="#" class="btn btn-primary" style="align: bottom; margin-left: -10px; margin-bottom: -0px;">Learn</a>
        <a href="#" class="btn btn-primary" style="align: bottom; float: right; margin-right: -10px; margin-bottom: -0px;">Play</a>


      </div>
  </div>
  <div class="card" style="width: 195px; height: 275px; float: left; margin-top: -320px; margin-left: 555px;">
      <img class="card-img-top" style="width: 195px; position: left 2px; " src="/static/levels.jpeg" alt="Card image cap">
      <div class="card-block">
        <h5 style="color: black; ">Level 7</h5>
        <a href="#" class="btn btn-primary" style="align: bottom; margin-left: -10px; margin-bottom: -0px;">Learn</a>
        <a href="#" class="btn btn-primary" style="align: bottom; float: right; margin-right: -10px; margin-bottom: -0px;">Play</a>



      </div>
  </div>
</body>

{%endblock%}
