{% extends "base.html" %}
{%block title%}
<title>Trigo Levels Menu</title>
{%endblock%}
{%block body%}
<body style="background-color: #B6B6B6;">

	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand page-scroll" href="#page-top">
                  <i class="fa fa-play-circle"></i> <span class="light">ToolBox<span class="glyphicon glyphicon-wrench"></span>
              </a>
          </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            
            
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#about">About Us</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="#download">Start Learning</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#account">Account</a>
            </li>
             
          </ul>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
  	</nav>

	<div class="card" style="width: 195px; height: 240px; float: left; margin-top: 85px; margin-left: 40px;">
  		<img class="card-img-top" style="width: 195px; position: left 2px; " src="http://media.merchantcircle.com/29977484/level%20one_full.jpeg" alt="Card image cap">
  		<div class="card-block">
  			<h5 style="color: black; ">Level 1</h5>
    		<a href="#" class="btn btn-primary" style="align: bottom; margin-left: -10px; margin-bottom: -20px;">Play</a>
    		<a href="#" class="btn btn-primary" style="align: bottom; float: right; margin-right: -10px; margin-bottom: -20px;">Learn</a>
  		</div>
	</div>

</body>
{%endblock%}